

// 定义断点
$breakpoint-sm: 576px; // 小屏幕，如手机
$breakpoint-md: 768px; // 中等屏幕，如平板
$breakpoint-lg: 1024px; // 大屏幕，如电脑

// 创建混合宏
@mixin respond-to($size) {
  @if $size == 'phone' {
    @media  ( max-width: $breakpoint-md  -  1px ) { @content; }
  } @else if $size == 'tablet' {
    @media ( min-width: $breakpoint-md ) and ( max-width: $breakpoint-lg - 1px ) { @content; }
  } @else if $size == 'desktop' {
    @media ( min-width: $breakpoint-lg ) { @content; }
  }
}


:root {

  /* 默认组件的主题颜色 */
 --el-color-primary: #4b7eeb;
 /* 定义组件背景颜色 */
 --el-bg-color: #fafafa;
 
}

/* 其他地方使用：root里面的可以：var(--el-color-primary) 可以保持颜色等一致 */

[data-theme='dark']{
 color: rgb(255, 255, 255);

 
}


/* src/assets/styles/global.scss */
::-webkit-scrollbar {
  width: 0.5rem; /* 设置滚动条的宽度 */
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #b4b3b600; /* 设置滚动轨迹的背景颜色 */
}

::-webkit-scrollbar-thumb {
  background: #f175ad35; /* 设置滚动滑块的背景颜色 */
}

::-webkit-scrollbar-thumb:hover {
  background: #f175ad81; /* 设置滚动滑块的背景颜色 */
}

::-webkit-scrollbar-corner {
  background: #f1f1f105; /* 设置角按钮的背景颜色 */
}

// 使用混合宏
.example {
  background-color: red;

  // 手机
  @include respond-to('phone') {
    background-color: blue;
  }

  // 平板
  @include respond-to('tablet') {
    background-color: green;
  }

  // 电脑
  @include respond-to('desktop') {
    background-color: purple;
  }
}



//App.vue
.app-layout{
  /* background-color: #484e5b; //组件的黑暗色彩非常不错 */
  // background-color: #f3bfe3;
  min-height: 97vh;
}

// Head.vue
.head-layout{
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1,1,6rem;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  .head-layout-left{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap:3rem;
      .head-layout-left-web-name{
          width: max-content;
      }
  }

  .head-layout-middle{
      display: flex;
      gap:1rem;
      align-items: center;


      
  }

  .head-layout-right{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      .head-layout-right-layout{
          display: flex;
          width: max-content;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
  }

  // 手机
  @include respond-to('phone') {
    justify-content: center;
    .head-layout-left{
      
      
      .head-layout-left-web-name{
          display: none;
      }
    }
    
    
  }
  
}



//Explore.vue
.explore-layout{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .explore-layout-head{
      display: flex;
      gap: 1rem;
      // 手机
    @include respond-to('phone') {
      gap:0;
    }
  }

}

/**
* 盒子模型，对图片的滚动播放  需要自己添加宽高 7:4
*/
.show-box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
  .box-button{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    .box-left,.box-right{
      height: 100%;
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #638eaa0f;
      z-index: 1;
    }
    .box-left:hover,.box-right:hover{
      background-color: #638eaaa9;
    }
  }
  .box-container{
    width: 500%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    overflow: hidden;
    transition: all 0.5s;
  }
  .box-item{
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-size: cover;
  }
  .box-pointers{
    display: flex;
    position: absolute;
    bottom: 1rem;
    justify-content: center;
    align-items: center;
    gap:1rem;
    .box-pointer{
      width: 1rem;
      height: 1rem;
      background-color: #ffffff6e;
      border-radius: 50%;
    }
    .box-pointer:hover {
      background-color:  #fffffff8;
      border-radius: 40%;
    }
  }
}

/**
*  网格模型
*/
.grid-layout{
  display: grid;
  gap: 1rem;
  row-gap: 1rem;
  

  .grid-layout-item{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    img {
      border-radius: 1rem;
      object-fit:fill;
    }

  }
  .grid-layout-item:hover{
    background-color: #a2eebf1f;
  }
}



//Recommend.vue
.recommend-layout{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  .recommend-layout-song-show-box{
    background-color: #ffffff40;
    // 手机
    @include respond-to('phone') {
      width: 17rem;
      height: 12rem;
    }
    // 平板
    @include respond-to('tablet') {
      width: 25rem;
      height: 16rem;
    }
    @include respond-to('desktop') {
      width: 30rem;
      height: 20rem;
    }
  }
  .recommend-layout-middle{
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .recommend-layout-middle-title{
      position: relative;
      top: 3rem;
      span{
        display: flex;
        align-items: center;

      }
    }
   
    .recommend-layout-song-grid{
      width: 100%;
      height: auto;
      @include respond-to('phone') {
        grid-template-columns: repeat(auto-fill,minmax(7rem,1fr)); 
      }
      @include respond-to('tablet') {
        grid-template-columns: repeat(auto-fill,minmax(8rem,1fr)); 
      }
      @include respond-to('desktop') {
      grid-template-columns: repeat(auto-fill,minmax(13rem,1fr)); 
      }

      .recommend-layout-song-grid-item{
        // 手机
        @include respond-to('phone') {
          width: 7rem;
          height: 13rem;
        }
        // 平板
        @include respond-to('tablet') {
          width: 8rem;
          height: 16rem;
          
        }
        @include respond-to('desktop'){
          width: 13rem;
          height: 22rem;
        }
        
        img{
          width: 100%;
          height: 70%;       
        }

        .recommend-layout-song-grid-item-songMessage{
          
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-self: center;         
          gap: 0.3rem;

          @include respond-to('phone') {
            gap: 0.2rem;
            padding: 0.2rem;
          }
  
          // 平板
          @include respond-to('tablet') {
            gap: 0.2rem;
            padding: 0.4rem;
          }
          
          .song-name{
            font-family: 'sans-serif';
            font-style: normal;
            font-weight: bold;
            font-size: 1.3rem;
            text-decoration: none;
            white-space: pre;
            caret-color: #b6b29f;
            @include respond-to('phone') {
              font-size: 0.8rem;
            }
    
            // 平板
            @include respond-to('tablet') {
              font-size:1rem;
            }
            
            
          }
          .song-singer{
            font-size: 1rem;
            font-weight: bold;
            text-decoration: none;
            white-space: pre;
            caret-color: #b6b29f;
            @include respond-to('phone') {
              font-size: 0.7rem;
              font-weight: bold;
            }
    
            // 平板
            @include respond-to('tablet') {
              font-size: 0.8rem;
            }
            
            
          }
          .song-signature{
            font-size: 1rem;
            text-decoration: none;
            white-space: pre;
            caret-color: #d8cfa3;
            @include respond-to('phone') {
              display: none;
            }
    
            // 平板
            @include respond-to('tablet') {
              font-size: 0.8rem;
            }
            
            
          }
          .song-submit-time{
            font-size: 0.6rem;
            @include respond-to('phone') {
              font-size: 0.6rem;
            }
            @include respond-to('tablet') {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
    .recommend-layout-songList-grid{
      width: 100%;
      height: auto;
      grid-template-columns: repeat(auto-fill,minmax(10rem,1fr)); 
      @include respond-to('tablet') {
        grid-template-columns: repeat(auto-fill,minmax(7rem,1fr)); 
      }
      @include respond-to('phone') {
        grid-template-columns: repeat(auto-fill,minmax(5rem,1fr)); 
      }
      .recommend-layout-songList-grid-item{
        @include respond-to('tablet') {
          width: 7rem;
          height: 10rem;
        }
        @include respond-to('desktop') {
          width: 10rem;
          height: 17rem;
          // background-color: #b6b29f;
        }
        @include respond-to('phone') {
          width: 5rem;
          height: 11rem;
        }
        
        // background-color: #d8cfa3;
        img{
          width: 100%;
          height: 70%;       
        }
        .recommend-layout-songList-grid-item-message{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0.1rem;
          gap: 0.4rem;
          @include respond-to('tablet') {
            
          }
          @include respond-to('phone') {
            padding:0rem;
            gap: 0.1rem;
          }
          
          .songList-name{
            font-family: 'sans-serif';
            font-style: normal;
            font-weight: bold;
            font-size: 0.9rem;
            text-decoration: none;
            white-space: pre;
            caret-color: #b6b29f;
            @include respond-to('tablet') {
              font-size: 1rem;
              
            }
            @include respond-to('phone') {
              font-size: 0.4rem;
              word-wrap: break-word;
              white-space: normal;
              
            }
            
            
          }
          .songList-creater{
            font-size: 0.5rem;
            text-decoration: none;
            white-space: pre;
            caret-color: #b6b29f;
            @include respond-to('tablet') {
              font-size: 0.7rem;
            }
            @include respond-to('phone') {
              font-size: 0.2rem;
            }
            
            
          }
          .songList-signature{
            font-size: 0.7rem;           
            white-space: pre;
            caret-color: #d8cfa3;
            @include respond-to('tablet') {
              font-size: 0.7rem;
            }
            @include respond-to('phone') {
              display: none;
            }
            
            
          }
        }
      }
    }
  }
}

//CallCenter.vue

.call-center-layout{
  
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title{
    font-size: 2rem;
  }
  .call-center-layout-message{
    
    position: relative;
    border-radius: 0.5rem;
    width: 30rem;
    height: 30rem;
    background-color: #e2a3a349;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    .message-input-layout{
      width: 100%;
      justify-content: center;
      position: absolute;
      bottom: 1rem;
      display: flex;
      input{
      width: 20rem;
      height: 2rem;
      border: none;
      outline: none;
      border-radius: 0.5rem;
      padding: 0.2rem;
      background-color: #ffffff41;
      }

      button{
        width: 5rem;
        margin-left: 1rem;
        background-color: #f7b7b7;
        border: none;
        outline: none;
        border-radius: 0.4rem;
      }
      button:hover{
        
        background-color: #b6abab;
        
      }

    }

    .call-center-layout-other-message-item{
      
      overflow:scroll;
      width: 100%;
      height: fit-content;
      
      padding: 0.3rem;
      
      border-radius: 0.5rem;
      span{
        // background-color: #b0a8cb17;
        font-size: 1rem;
        color: #1a1a1dc2;
        
      }
    }
    .call-center-layout-myself-message-item{
      display: flex;
      flex-direction: row-reverse;
      overflow:scroll;
      width: 100%;
      height: fit-content;      
      padding: 0.3rem;
          
      border-radius: 0.5rem;
      span{
        // background-color: #dbe6f50e;
        font-size: 1rem;
        color: #43fc0b92;      
      }
    }
    .call-center-layout-other-message-item:hover{
      background-color: #89838391;
    }
    .call-center-layout-myself-message-item:hover{
      background-color: #89838391;
    }
    

    
  }
}



